.blog-item{
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid $bordercolor;
    padding:1rem;
    .blog-header{
        margin:0 0 1.25rem
    }
    .blog-title{
        margin: 0 0 0.4rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.2;
        text-decoration: none;
        a{
            text-decoration: none;
            color:$linkblue;
            &:hover{
                color:$linkhoverblue;
                text-decoration: none;
            }
        }
    }
    .blog-meta{
       
        font-size:0.8rem;
        .meta-item{
            margin-right:1rem;
            padding:15px 0;
            color:$hoverinfoblue;
                &:hover{
                    color:$hoverinfoblue
                }
            .meta-item-text{
                margin-left:0.3rem;
                
               
            }
        }
    }
    .blog-content{
        margin-bottom:2rem;
        line-height:1.8
    }
}