@media screen and (min-width: 1216px){
.container:not(.is-max-desktop) {
    max-width: 1152px;
}
}
@media screen and (min-width: 1216px){
.container:not(.is-max-desktop) {
    max-width: 1152px;
}
}
@media screen and (min-width: 1024px){
.container {
    max-width: 960px;
}
}
.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}
.fa-limit-size{
    max-width:0.875rem;
}
.footer-link{
    max-width:1.5rem
}
code{
    color:crimson;
    background-color: rgba(222,222,222,0.3);
}
pre {
    code{
        background-color: #eee;
        border: 1px solid #999;
        display: block;
        padding: 20px;
      
        overflow-x:scroll
    }
}
li{
    span{
        a{
            color:#4C74B9
        }
    }
}
@media screen and (min-width: 1024px){
.container {
    max-width: 960px;
}
}
.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}